<%- include('partials/header') %>

<form class="w-50 p-4" action="/signupaction" method="post">
    <% if(msg!=''){ %>
        <p class="p-2"><%= msg %></p>
    <% } %>
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">SignUp</button>
</form>

<a href="/login">Already Have an Account ?</a>

<%-include('partials/footer') %>
